<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <title>UTXJ Docentes | Inicio</title>
</head>

<body>
    <div class="row mb-5">
        <!-- Nav Bar -->
        <nav class="p-4 navbar navbar-expand-lg bg-body-tertiary mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Docentes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <main class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Registra un Docente</h2>
                        <!-- Formulario -->
                        <form action="/api/utxj/teachers/insertOne" method="POST">
                            <div class="row">
                                <!-- ENI -->
                                <div class="col-lg">
                                    <label for="txt_eni" class="form-label">Número de Trabajador</label>
                                    <input type="text" name="eni" id="txt_eni" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <!-- Full Name -->
                                <div class="col-lg-6">
                                    <label for="txt_name" class="form-label">Nombre</label>
                                    <input type="text" name="name" id="txt_name" class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <label for="txt_name" class="form-label">Apellidos</label>
                                    <input type="text" name="lastname" id="txt_lastname" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="txt_profession" class="form-label">Grado de Estudios</label>
                                    <input type="text" class="form-control" id="txt_profession" name="profession">
                                </div>
                                <div class="col-lg-6">
                                    <label for="txt_area" class="form-label">Área</label>
                                    <input type="text" class="form-control" id="txt_area" name="area">
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-lg">
                                    <label for="txt_salario" class="form-label">Salario</label>
                                    <input type="text" class="form-control" id="txt_salario" name="salario">
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <button class="btn btn-outline-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <table class="table table-primary table-striped">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% teachers.forEach(function(teacher){ %>
                            <tr>
                                <td>
                                    <%= teacher.eni %>
                                </td>
                                <td>
                                    <%= teacher.name %>
                                </td>
                                <td>
                                    <%= teacher.lastname %>
                                </td>
                                <td>
                                    <a href="/api/utxj/teachers/getOne/<%= teacher.eni %>"
                                        class="btn btn-success"><i class="material-icons">edit</i><a />
                                </td>
                                <td>
                                    <a class="btn btn-danger"
                                        href="/api/utxj/teachers/deleteOne/<%= teacher.eni %>"><i
                                            class="material-icons">delete</i><a />
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>